@import "@fontsource/plus-jakarta-sans/400.css";
@import "@fontsource/plus-jakarta-sans/500.css";
@import "@fontsource/plus-jakarta-sans/600.css";
@import "@fontsource/plus-jakarta-sans/700.css";
@import "tailwindcss";

@theme {
  /* COLORS */
  --color-primary: #136dec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101822;

  /* FONT */
  --font-display: "Plus Jakarta Sans", system-ui, sans-serif;

  /* BORDER RADIUS */
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}
